<html>
    <head>
        <meta http-equiv="refresh" content="5"/>
    </head>
    <body>
        <center>
            <h1>Currently {{ current }}, change to <a href=/{{ change_to_number }}>{{ change_to }}</a></h1>
            <br>
            <img src='static/{{ image }}'/>
            <h2>Picture analyzed as: {{ analyze_result }} (0 - bawf, 1 - missy, 2 - empty)</h2>
            <h3>Image name is {{ image }}</h3>
            <h2><a href="/ksht">Play ksht!</a></h2>
        </center>
    </body>
</html>

